h2 {
  color: orange;
  font-family: monospace;
}

button {
  border-color: skyblue;
  background-color: white;
  radius: 12px;
}

#output {
  font-family: sans-serif;
  color: lightgreen;
  background-color: black;
  font-weight: bold;
}
